h1, p {
    text-align: center;
}

.body div img {
    width: 30vw;
    height: 20vw;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.body {
    align-items: center;
    justify-content: center;
    display: flex;
}